/* mobile */

@media screen and (max-width: $mobile) {
  body {
    max-width: $mobile;
  }

  /* header */

  header {
    background: url(../../img/header_320.jpg);
    background-repeat: no-repeat;
    height: 540px;
    width: $mobile;
    text-align: center;
    color: white;
    padding-top: 20px;

    h3 {
      font-size: $font-size - 4px;
      font-family: $montserrat;

      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    h2 {
      width: 280px;
      margin: 0px auto;
      margin-top: 26px;
      text-transform: uppercase;
      font-size: $font-size + 6px;
      font-family: $montserrat;
    }

    p {
      width: 220px;
      margin: 0px auto;
      margin-top: 7px;
      font-size: $font-size - 6px;
      font-family: $roboto;
    }
  }

  .header__buttons {
    margin-bottom: 115px;
  }

  .header__login {
    border: none;
    background: none;
    color: white;
    margin-left: -5px;
    font-family:  $montserrat;
    font-size: $font-size - 10px;
    cursor: pointer;
  }

  .header__signup {
    border: 2px solid white;
    background: none;
    @include border-radius(20px);
    color: white;
    margin-left: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family:  $montserrat;
    font-size: $font-size - 10px;
    cursor: pointer;
  }

  .header__button {
    border: none;
    @include border-radius(20px);
    background: $red;
    color: white;
    margin-top: 12px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family:  $montserrat;
    font-size: $font-size - 10px;
    cursor: pointer;
  }

  /* slider */

  main {
    width: $mobile - 20px;
    margin: 0px auto;
    margin-top: 13px;
  }

  .main__header {
    margin-left: 5px;
    font-family:  $montserrat;
    font-size: $font-size - 2px;
  }

  .main__wrapper {
    margin: 15px auto;
    margin-bottom: -5px;
    position: relative;
    width: $mobile - 20px;
    height: 240px;
    color: white;
  }

  .main__div {
    position: relative;
    overflow: hidden;
  }

  .main__list {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 0px;

    div {
      width: 70px;
      border: none;
      @include border-radius(20px);
      background: $red;
      font-family: $regular;
      font-size: $font-size - 14px;
      margin-top: 65px;
      padding-top: 7px;
      padding-bottom: 7px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    h3 {
      width: 200px;
      margin-top: 12px;
      font-size: $font-size;
      font-family: $montserrat;
    }

    p {
      width: 265px;
      margin-top: 10px;
      font-size: $font-size - 10px;
      font-family: $roboto;
      color: $lightgrey;
    }
  }

  .main__step1,
  .main__step2,
  .main__step3 {
    float: left;
    width: 300px;
    height: 240px;
    padding-left: 20px;
  }

  .main__step1 {
    background: url(../../img/step1_320.png);
  }

  .main__step2 {
    background: url(../../img/step2_320.png);
    padding-top: 30px;
    height: 210px;
  }

  .main__step3 {
    background: url(../../img/step3_320.png);
  }

  .main__prev,
  .main__next {
    display: none;
  }

  /* article  */

  article {
    width: $mobile - 60px;
    margin: 0px auto;
    margin-top: 39px;
    text-align: center;
  }

  .article__header {
    margin-left: -5px;
    font-size: $font-size - 2px;
    font-family: $montserrat;
  }

  .article__element {
    margin-bottom: 26px;
    margin-top: 15px;

    h4 {
      margin-top: 7px;
      font-size: $font-size - 10px;
      font-family: $montserrat;
    }

    p {
      width: 220px;
      margin: 0px auto;
      margin-top: 11px;
      margin-left: 16px;
      font-size: $font-size - 10px;
      font-family: $roboto;
      color: $black;
    }
  }

  .article__element3 {
    margin-top: -4px;
  }

  .article__element3 h4,
  .article__element4 h4 {
    margin-left: -3px;
  }

  .article__heather {
    display: none;
  }

  .article__button {
    width: 280px;
    margin-left: -12px;
    margin-top: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $red;
    @include border-radius(20px);
    background: none;
    color: $red;
    font-size: $font-size - 10px;
    font-family: $montserrat;
    cursor: pointer;
  }

  /* isotope */

  section {
    width: $mobile - 20px;
    margin: 0px auto;
    margin-top: 33px;
    text-align: center;
  }

  .section__header {
    font-size: $font-size - 2px;
    font-family: $montserrat;
  }

  .section__list {
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 26px;
  }

  .section__item {
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 72px;
    margin-bottom: 10px;
    padding-top: 48px;
    color: white;
    @include border-radius(5px);
    font-size: $font-size - 2px;
    font-family: $montserrat;
  }

  .section__paragraph {
    margin-top: 8px;
    margin-left: -3px;
    font-size: $font-size - 6px;
    font-family: $roboto;
  }

  .section__search {
    width: 265px;
    height: 38px;
    margin-top: 14px;
    margin-left: -3px;
    padding-left: 14px;
    border: 1px solid $lightgrey;
    @include border-radius(5px);
    color: $grey;
    font-size: $font-size - 10px;
    font-family: $roboto;
  }

  .section__submit {
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    margin-left: -3px;
    border: none;
    border-radius: 20px;
    @include border-radius(5px);
    color: white;
    cursor: pointer;
    font-size: $font-size - 10px;
    font-family: $montserrat;
  }

  /* line */

  .line {
    width: $mobile;
    margin-top: 41px;
    border-top: 5px solid $red;
  }

  /* footer */

  footer {
    width: $mobile - 120px;
    margin: 0px auto;
    margin-top: 15px;
    text-align: center;

    h3 {
      margin-left: -5px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: $font-size - 8px;
      font-family: $montserrat;

      a {
        color: $red;
        text-decoration: none;
      }
    }

    h4 {
      margin-top: 28px;
      margin-left: -2px;
      font-size: $font-size - 10px;
      font-family: $montserrat;
    }
  }

  .footer__list {
    width: 200px;
    margin-top: -15px;
    overflow: hidden;
    font-size: $font-size - 10px;
    font-family: $roboto;
  }

  .footer__item {
    float: left;
    list-style: none;
    margin-right: 14px;
    margin-bottom: -15px;
  }

  .footer__item:last-child {
    margin-right: 0px;
  }

  .footer__link {
    text-decoration: none;
    color: $black;
  }

  .footer__image {
    margin-top: 16px;
  }
}
