body {
  font-family: sans-serif;
}

form {
  margin-top: 200px;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.search {
  width: 580px;
  height: 35px;
  font-size: 16px;
  padding-left: 10px;
}

.submit {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -2px;
  margin-left: 10px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background: #f2f2f2;
  color: grey;
  cursor: pointer;
}

.submit:hover {
  border: 1px solid grey;
  color: black;
}

.results {
  list-style: none;
  width: 588px;
  margin: 0px auto;
  margin-left: 608px;
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.results a {
  text-decoration: none;
  color: black;
  line-height: 20px;
}

.results a:hover {
  background: #f2f2f2;
}
