body {
  background: #eeeeee;
}

.box {
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: white;
}

.name {
  text-align: center;
}

p {
  margin-left: 50px;
}

li {
  margin-left: 35px;
}

img {
  width: 300px;
}

hr {
  margin-left: 33px;
  margin-right: 33px;
}
