/* desktop < 1440px */

@media screen and (min-width: $tablet + 1px) and (max-width: $desktop) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* header */

  .header {
    width: 100%;
    background: #87509c;
    overflow: hidden;
    padding-bottom: 140px;
  }

  .header__container {
    width: 95%;
    margin: 0px auto;
  }

  .header__menu {
    overflow: hidden;
  }

  /* logo */

  .header__logo {
    display: inline;
    float: left;
  }

  /* logo for internet explorer < 9 */

  .header__logo.ie {
    display: none;
  }

  .header__logo.hide {
    font-size: 0px;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    border: 0px;
    padding: 0px;
    margin: 0px;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .header__image {
    display: block;
    width: 200px;
    margin-top: -30px;
    fill: white;
    font-family: $bold;
    font-size: 100px;
    font-weight: bold;

    &:hover {
      fill: $orange;
    }
  }

  /* menu*/

  .header__list {
    float: right;
    overflow: hidden;
    margin-bottom: 140px;
  }

  .header__item {
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 25px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .header__link {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $regular;
    font-size: 16px;

    &:hover {
      background: white;
      color: black;
    }
  }

  .header__title {
    color: white;
    margin-bottom: 62px;
    text-align: center;
    font-family: $bold;
    font-size: 32px;
  }

  .header__button {
    width: 275px;
    height: 72px;
    margin: 0px auto;
    padding-top: 25px;
    text-align: center;
    display: block;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    border: 1px solid rgb(80, 32, 0);
    @include border-radius(5px);
    outline: none;
    background: $orange;
    font-family: $bold;
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    @include box-shadow(0 6px rgb(86,38,6), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5));
    @include transition(.2s);

    &:hover {
      background: orange;
    }

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* content */

  .main {
    width: 100%;
    display: block;
  }

  /* works */

  .section-works__container {
    width: 100%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 120px;
    background: #ffdd99;
  }

  .section-works__title {
    margin-bottom: 40px;
    text-align: center;
    font-family: $bold;
    font-size: 42px;
  }

  .section-works__paragraph {
    text-align: center;
    margin-bottom: 20px;
    font-family: $bold;
    font-size: 32px;
    font-weight: bold;
  }

  .section-works__list {
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
  }

  .section-works__item {
    width: 47%;
    margin-bottom: 10px;
    border: 5px solid black;
    display: inline;
    float: left;

    &:last-child {
      float: right;
    }

    &:hover {
      border: 5px solid $orange;
    }
  }

  .section-works__link {
    display: block;
  }

  .section-works__image {
    display: block;
    width: 100%;
  }

  /* skills */

  .section-skills {
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 120px;
    background: #e7f1f8;
  }

  .section-skills__title {
    margin-bottom: 60px;
    text-align: center;
    font-family: $bold;
    font-size: 42px;
  }

  .section-skills__list {
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
  }

  .section-skills__item {
    margin-bottom: 40px;
    list-style: none;
  }

  .section-skills__header {
    font-family: $bold;
    font-size: 42px;
  }

  .section-skills__text {
    width: 100%;
    margin-top: 10px;
    background-color: white;
  }

  .section-skills__paragraph {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: $bold;
    font-size: 32px;
    font-weight: bold;
  }

  .section-skills__paragraph.html {
    width: 75%;
    background-color: #ff791f;
  }

  .section-skills__paragraph.js {
    width: 50%;
    background-color: #f2c300;
  }

  .section-skills__paragraph.ps {
    width: 50%;
    background-color: #2a3778;
  }

  /* footer */

  .footer {
    width: 100%;
    background: #344b8e;
    overflow: hidden;
    padding-bottom: 20px;
  }

  /* contacts */

  .footer__container {
    width: 95%;
    margin: 0px auto;
  }

  /* contacts for internet explorer < 9 */

  .footer__container.ie {
    display: none;
  }

  .footer__paragraph {
    display: inline;
    float: left;
    margin-top: 18px;
    color: white;
    text-decoration: none;
    font-family: $regular;
    font-size: 42px;
  }

  .footer__paragraph .footer__image {
    width: 30px;
    height: 30px;
    fill: white;
  }

  .footer__list {
    float: right;
    overflow: hidden;
  }

  .footer__item {
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .footer__link {
    display: block;
  }

  .footer__link .footer__image {
    width: 30px;
    height: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    fill: white;

    &:hover {
      background: white;
      fill: black;
    }
  }
}

/* desktop > 1440px */

@media screen and (min-width: $desktop) {
  body {
    width: auto;
  }

  /* header */

  .header {
    width: 100%;
    background: #87509c;
    overflow: hidden;
    padding-bottom: 140px;
  }

  .header__container {
    width: 95%;
    margin: 0px auto;
  }

  .header__menu {
    overflow: hidden;
  }

  /* logo */

  .header__logo {
    display: inline;
    float: left;
  }

  /* logo for internet explorer < 9 */

  .header__logo.ie {
    display: none;
  }

  .header__logo.hide {
    font-size: 0px;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    border: 0px;
    padding: 0px;
    margin: 0px;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .header__image {
    display: block;
    width: 200px;
    margin-top: -30px;
    fill: white;
    font-family: $bold;
    font-size: 100px;
    font-weight: bold;

    &:hover {
      fill: $orange;
    }
  }

  /* menu */

  .header__list {
    float: right;
    overflow: hidden;
    margin-bottom: 140px;
  }

  .header__item {
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 25px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .header__link {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $regular;
    font-size: 16px;

    &:hover {
      background: white;
      color: black;
    }
  }

  .header__title {
    color: white;
    margin-bottom: 62px;
    text-align: center;
    font-family: $bold;
    font-size: 32px;
  }

  .header__button {
    width: 275px;
    height: 72px;
    margin: 0px auto;
    padding-top: 25px;
    text-align: center;
    display: block;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    border: 1px solid rgb(80, 32, 0);
    @include border-radius(5px);
    outline: none;
    background: $orange;
    font-family: $bold;
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    @include box-shadow(0 6px rgb(86,38,6), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5));
    @include transition(.2s);

    &:hover {
      background: orange;
    }

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* content */

  .main {
    width: 100%;
    display: block;
  }

  /* works */

  .section-works {
    width: 100%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 120px;
    background: #ffdd99;
  }

  .section-works__title {
    margin-bottom: 40px;
    text-align: center;
    font-family: $bold;
    font-size: 42px;
  }

  .section-works__paragraph {
    text-align: center;
    margin-bottom: 20px;
    font-family: $bold;
    font-size: 32px;
    font-weight: bold;
  }

  .section-works__list {
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
  }

  .section-works__item {
    width: 47%;
    margin-bottom: 10px;
    border: 5px solid black;
    display: inline;
    float: left;

    &:last-child {
      float: right;
    }

    &:hover {
      border: 5px solid $orange;
    }
  }

  .section-works__link {
    display: block;
  }

  .section-works__image {
    display: block;
    width: 100%;
  }

  /* skills */

  .section-skills {
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 120px;
    background: #e7f1f8;
  }

  .section-skills__title {
    margin-bottom: 60px;
    text-align: center;
    font-family: $bold;
    font-size: 42px;
  }

  .section-skills__list {
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
  }

  .section-skills__item {
    margin-bottom: 40px;
    list-style: none;
  }

  .section-skills__header {
    font-family: $bold;
    font-size: 42px;
  }

  .section-skills__text {
    width: 100%;
    margin-top: 10px;
    background-color: white;
  }

  .section-skills__paragraph {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: $bold;
    font-size: 32px;
    font-weight: bold;
  }

  .section-skills__paragraph.html {
    width: 75%;
    background-color: #ff791f;
  }

  .section-skills__paragraph.js {
    width: 50%;
    background-color: #f2c300;
  }

  .section-skills__paragraph.ps {
    width: 50%;
    background-color: #2a3778;
  }

  /* footer */

  .footer {
    width: 100%;
    background: #344b8e;
    overflow: hidden;
    padding-bottom: 20px;
  }

  /* contacts */

  .footer__container {
    width: 95%;
    margin: 0px auto;
  }

  /* contacts for internet explorer < 9 */

  .footer__container.ie {
    display: none;
  }

  .footer__paragraph {
    display: inline;
    float: left;
    margin-top: 18px;
    color: white;
    text-decoration: none;
    font-family: $regular;
    font-size: 42px;
  }

  .footer__paragraph .footer__image {
    width: 30px;
    height: 30px;
    fill: white;
  }

  .footer__list {
    float: right;
    overflow: hidden;
  }

  .footer__item {
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .footer__link {
    display: block;
  }

  .footer__link .footer__image {
    width: 30px;
    height: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    fill: white;

    &:hover {
      background: white;
      fill: black;
    }
  }
}
