/* mobile */

@media screen and (max-width: $mobile) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* home */

  header {
    width: 100%;
    background: #87509c;
    overflow: hidden;
    padding-bottom: 70px;
  }

  .header__container {
    width: 95%;
    margin: 0px auto;
  }

  .header__logo a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-family: $bold;
    font-size: $font-size;
  }

  .header__list {
    display: none;
  }

  .header__paragraph {
    color: white;
    margin-top: 20px;
    margin-bottom: 42px;
    text-align: center;
    font-family: $bold;
    font-size: $font-size - 22px;
  }

  .header__button {
    width: 205px;
    height: 52px;
    margin: 0px auto;
    padding-top: 15px;
    text-align: center;
    display: block;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    user-select: none;
    border: 1px solid rgb(80,32,0);
    @include border-radius(5px);
    outline: none;
    background: #eb7d4b;
    font-family: $bold;
    font-size: $font-size - 10px;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    @include transition(.2s);

    &:active {
      @include transform(translate(0, 4px));
    }
  }

  /* works */

  main {
    width: 100%;
    display: block;
    font-family: $bold;
    background: #ffdd99;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .main__container {
    width: 95%;
    margin: 0px auto;
  }

  .main__header {
    margin-bottom: 20px;
    text-align: center;
    font-size: $font-size;
  }

  .main__paragraph {
    text-align: center;
    margin-bottom: 20px;
    font-size: $font-size - 26px;
  }

  .main__list {
    overflow: hidden;
  }

  .main__item {
    height: 250px;
    margin-bottom: 10px;
    border: 5px solid black;
    display: block;
    background: url(../../img/image1b.jpg) center;
    background-size: cover;

    &:last-child {
      margin-bottom: 0px;
      background: url(../../img/image2b.jpg) center;
      background-size: cover;
    }

    a {
      display: block;
    }
  }

  /* skills */

  section {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $bold;
    background: #e7f1f8;
  }

  .section__container {
    width: 95%;
    margin: 0px auto;
  }

  .section__header {
    margin-bottom: 20px;
    text-align: center;
    font-size: $font-size;
  }

  .section__item {
    margin-bottom: 20px;
    list-style: none;

    p {
      font-size: $font-size - 22px;
    }
  }

  .container {
    width: 100%;
    margin-top: 10px;
    background-color: white;
  }

  .section__skills {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: $font-size - 20px;
  }

  .html {
    width: 75%;
    background-color: #ff791f;
  }

  .js {
    width: 50%;
    background-color: #f2c300;
  }

  .ps {
    width: 50%;
    background-color: #2a3778;
  }

  /* contacts */

  footer {
    width: 100%;
    background: #344b8e;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__container {
    width: 95%;
    margin: 0px auto;

    .ie {
      display: none;
    }
  }

  .footer__paragraph {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: $regular;
    font-size: $font-size - 20px;
  }

  .footer__list {
    overflow: hidden;
  }

  .footer__item {
    display: inline;
    float: left;

    a {
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $icons;
      font-size: $font-size;
    }
  }
}
