$regular:    'Titillium Regular', Arial, sans-serif;
$bold:       'Titillium Bold', Arial, sans-serif;
$icons:      'Mono Social Icons Font';
$font-size:  42px;
$mobile:     320px;
$tablet:     768px;
$desktop:    1440px;
$box-shadow: 0 6px rgb(86,38,6), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
