<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JS Practice 3 - Templating</title>
  <link rel="stylesheet" href="./../_lib/qunit-1.20.0.css" type="text/css"/>
  <script type="text/javascript" src="./../_lib/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="./../_lib/qunit-1.20.0.js"></script>
  <script type="text/javascript" src="./../_lib/lodash.js"></script>

  <script>
      QUnit.config.reorder = false;
  </script>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <div id="actual"></div>
  <div id="expected"></div>

  <script type="text/template" data-name="Entity">
    <div class="entity <%= enabled ? 'enabled' : 'disabled' %>" data-id="<%= id %>">
      <p>Name: <span class="entity-name"><%= name %></span></p>
      <p>Description: <span class="description"><%= description %></span></p>
    </div>
  </script>

  <script type="text/template" data-name="EntityList">
    <div class="entity-list">
      <% if (items.length > 0) { %>
        <%= items = items.map(window.Templates.Entity) %>
        <% items.toString() %>
      <% } else { %>
        <b>List is empty</b>
      <% } %>
    </div>
  </script>

  <script type="text/template" data-name="NestedLists">
    <ul>
      <% for (var li in this) { %>
        <% if (typeof (this[li]) === 'string') { %>
          <li><%= li %>: <%= this[li] %></li>
        <% } else { %>
          <li><%= li %>: <%= window.Templates.NestedLists.call(this[li]) %></li>
        <% } %>
      <% } %>
    </ul>
  </script>

  <script>
    window.Templates = (function() {
      var templateElements = document.querySelectorAll('script[type="text/template"]');
      var compiledTemplates = {};

      Array.prototype.forEach.call(templateElements, function(templateElement) {
        var templateName = templateElement.getAttribute('data-name');
        var templateString = templateElement.innerHTML;

        compiledTemplates[templateName] = _.template(templateString);
      });

      return compiledTemplates;
    })();
  </script>

  <script type="text/javascript" src="tests.js"></script>
</body>
</html>
