/* fonts */

@font-face {
  font-family: 'Titillium Regular';
  src: url('../../fonts/titillium-regular-webfont.eot');
  src: url('../../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/titillium-regular-webfont.woff2') format('woff2'),
       url('../../fonts/titillium-regular-webfont.woff') format('woff'),
       url('../../fonts/titillium-regular-webfont.ttf') format('truetype'),
       url('../../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Bold';
  src: url('../../fonts/titillium-bold-webfont.eot');
  src: url('../../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/titillium-bold-webfont.woff2') format('woff2'),
       url('../../fonts/titillium-bold-webfont.woff') format('woff'),
       url('../../fonts/titillium-bold-webfont.ttf') format('truetype'),
       url('../../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
}

/* internet explorer < 9 */

body {
  display: block;
  width: 100%;
}

/* home */

header {
  width: 100%;
  background: #87509c;
  overflow: hidden;
  padding-bottom: 140px;
}

.header__container {
  width: 960px;
  margin: 0px auto;
}

.header__logo a {
  display: inline;
  float: left;
  margin-right: 38%;
  margin-top: 7px;
  color: white;
  text-decoration: none;
  font-family: "Titillium Bold", Arial, sans-serif;
  font-size: 42px;
}

.header__list {
  overflow: hidden;
  list-style: none;
  margin-bottom: 140px;
}

.header__item {
  display: inline;
  float: left;
  margin-right: 18px;
  margin-top: 20px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__item a {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Titillium Regular", Arial, sans-serif;
  font-size: 16px;
}

.header__item a:hover {
  background: white;
  color: black;
}

.header__paragraph {
  color: white;
  margin-bottom: 62px;
  text-align: center;
  font-family: "Titillium Bold", Arial, sans-serif;
  font-size: 32px;
}

.header__button {
  width: 275px;
  height: 72px;
  margin: 0px auto;
  padding-top: 25px;
  text-align: center;
  display: block;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  user-select: none;
  border: 1px solid #502000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  background: #eb7d4b;
  font-family: "Titillium Bold", Arial, sans-serif;
  font-size: 42px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0 6px #562606, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 6px #562606, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px #562606, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.header__button:hover {
  background: #8a360f;
}

.header__button:active {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/* works */

main {
  width: 100%;
  display: block;
  font-family: "Titillium Bold", Arial, sans-serif;
  font-size: 42px;
  background: #ffdd99;
  padding-top: 50px;
  padding-bottom: 120px;
}

.main__container {
  width: 95%;
  margin: 0px auto;
}

.main__header {
  margin-bottom: 40px;
  text-align: center;
}

.main__paragraph {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.main__list {
  overflow: hidden;
}

.main__item {
  width: 47%;
  height: 350px;
  margin-right: 3%;
  margin-bottom: 10px;
  border: 5px solid black;
  display: inline;
  float: left;
  background: url(../../img/image1b.jpg) center;
  background-size: cover;
  cursor: pointer;
}

.main__item:hover {
  background: url(../../img/image1.jpg) center;
  background-size: cover;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

.main__item2 {
  margin-right: 0px;
  background: url(../../img/image2b.jpg) center;
  background-size: cover;
}

.main__item2:hover {
  background: url(../../img/image2.jpg) center;
  background-size: cover;
}

.main__item a {
  display: block;
}

/* skills */

section {
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 120px;
  font-family: "Titillium Bold", Arial, sans-serif;
  font-size: 42px;
  background: #e7f1f8;
}

.section__container {
  width: 95%;
  margin: 0px auto;
}

.section__header {
  margin-bottom: 60px;
  text-align: center;
}

.section__item {
  margin-bottom: 40px;
  list-style: none;
}

.section__item p {
  font-size: 42px;
}

.container {
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.section__skills {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 32px;
}

.html {
  width: 75%;
  background-color: #ff791f;
}

.js {
  width: 50%;
  background-color: #f2c300;
}

.ps {
  width: 50%;
  background-color: #2a3778;
}

/* contacts */

footer {
  width: 100%;
  background: #344b8e;
  overflow: hidden;
  padding-bottom: 20px;
}

.footer__container {
  width: 960px;
  margin: 0px auto;
}

.footer__container .cross {
  display: none;
}

.footer__paragraph {
  display: inline;
  float: left;
  margin-right: 5%;
  margin-top: 12px;
  color: white;
  text-decoration: none;
  font-family: "Titillium Regular", Arial, sans-serif;
  font-size: 42px;
  cursor: pointer;
}

.footer__list {
  overflow: hidden;
}

.footer__item {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

.footer__item:last-child {
  margin-right: 0px;
}

.footer__item a {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Titillium Regular", Arial, sans-serif;
  font-size: 22px;
}

.footer__item a:hover {
  background: white;
  color: black;
}
