/* fonts */

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Regular';
  src: url('../../fonts/titillium-regular-webfont.eot');
  src: url('../../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/titillium-regular-webfont.woff2') format('woff2'),
       url('../../fonts/titillium-regular-webfont.woff') format('woff'),
       url('../../fonts/titillium-regular-webfont.ttf') format('truetype'),
       url('../../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Bold';
  src: url('../../fonts/titillium-bold-webfont.eot');
  src: url('../../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/titillium-bold-webfont.woff2') format('woff2'),
       url('../../fonts/titillium-bold-webfont.woff') format('woff'),
       url('../../fonts/titillium-bold-webfont.ttf') format('truetype'),
       url('../../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* reset */

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: block;
  width: 1440px;
  margin: 0px auto;
}

/* home */

header {
  width: 1440px;
  background: #87509c;
  overflow: hidden;
  padding-bottom: 140px;
}

.header__container {
  width: 1400px;
  margin: 0px auto;
}

.header__logo a {
  display: inline;
  float: left;
  margin-right: 780px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Titillium Bold';
  font-size: 42px;
}

.header__list {
  overflow: hidden;
  list-style: none;
}

.header__item {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.header__item4 {
  margin-right: 0px;
}

.header__item a {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Titillium Regular';
  font-size: 16px;
}

.header__item a:hover {
  background: white;
  color: black;
}

.header__paragraph {
  color: white;
  margin-top: 140px;
  margin-bottom: 62px;
  text-align: center;
  font-family: 'Titillium Bold';
  font-size: 42px;
}

.header__button {
  display: none;
}

/* works */

main {
  width: 1440px;
  font-family: 'Titillium Bold';
  font-size: 42px;
  background: #ffdd99;
  padding-top: 50px;
  padding-bottom: 120px;
}

.main__container {
  width: 1400px;
  margin: 0px auto;
}

.main__header {
  margin-bottom: 40px;
  text-align: center;
}

.main__paragraph {
  text-align: center;
  margin-bottom: 20px;
}

.main__list {
  overflow: hidden;
  display: block;
  text-align: center;
}

.main__item {
  border: 5px solid black;
  display: inline;
  float: left;
  margin-right: 20px;
  background: url(../../img/image1bie.png);
}

.main__item2 {
  margin-right: 0px;
  background: url(../../img/image2bie.png);
}

.main__item a {
  display: block;
  width: 680px;
  height: 350px;
}

/*skills */

section {
  width: 1440px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 120px;
  font-family: 'Titillium Bold';
  font-size: 42px;
  background: #e7f1f8;
}

.section__container {
  width: 1400px;
  margin: 0px auto;
}

.section__header {
  margin-bottom: 60px;
  text-align: center;
}

.section__item {
  margin-bottom: 40px;
  list-style: none;
}

.section__item p {
  font-size: 42px;
}

.container {
  width: 100%;
  background-color: white;
}

.section__skills {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 32px;
}

.html {
  width: 75%;
  background-color: #ff791f;
}

.js {
  width: 50%;
  background-color: #f2c300;
}

.ps {
  width: 50%;
  background-color: #2a3778;
}

/* contacts */

footer {
  width: 1440px;
  background: #344b8e;
  overflow: hidden;
  padding-bottom: 20px;
}

footer span {
  display: none;
}

.footer__container {
  width: 1400px;
  margin: 0px auto;
}

.footer__paragraph {
  display: inline;
  float: left;
  margin-right: 450px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-family: 'Titillium Regular';
  font-size: 42px;
  cursor: pointer;
}

.footer__list {
  overflow: hidden;
}

.footer__item {
  display: inline;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.footer__item4 {
  margin-right: 0px;
}

.footer__item a {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Titillium Regular';
  font-size: 16px;
}

.footer__item a:hover {
  background: white;
  color: black;
}
