/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
}

/* internet explorer < 9 */

body {
  width: auto;
}

/* header */

.header {
  width: 100%;
  background: #87509c;
  overflow: hidden;
  padding-bottom: 140px;
}

.header__container {
  width: 95%;
  margin: 0px auto;
}

.header__menu {
  overflow: hidden;
}

/* logo */

.header__logo {
  display: none;
  float: left;
}

/* logo for internet explorer < 9 */

.header__logo.ie {
  display: block;
}

.header__logo.hide {
  font-size: 0px;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  border: 0px;
  padding: 0px;
  margin: 0px;
  clip: rect(1px, 1px, 1px, 1px);
}

.header__image {
  display: block;
  width: 200px;
  margin-top: 20px;
}

/* menu */

.header__list {
  float: right;
  overflow: hidden;
  margin-bottom: 140px;
}

.header__item {
  display: inline;
  float: left;
  margin-right: 25px;
  margin-top: 25px;
}

.header__item.last-child {
  margin-right: 0px;
}

.header__link {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header__link:hover {
  background: white;
  color: black;
}

.header__title {
  color: white;
  margin-bottom: 62px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.header__button {
  width: 275px;
  height: 72px;
  margin: 0px auto;
  padding-top: 25px;
  text-align: center;
  display: block;
  user-select: none;
  border: 1px solid #502000;
  outline: none;
  background: #eb7d4b;
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header__button:hover {
  background: orange;
}

/* content */

.main {
  width: 100%;
  display: block;
}

/* works */

.section-works {
  width: 100%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 120px;
  background: #ffdd99;
}

.section-works__title {
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.section-works__paragraph {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.section-works__list {
  width: 95%;
  margin: 0px auto;
  overflow: hidden;
}

.section-works__item {
  width: 47%;
  margin-bottom: 10px;
  border: 5px solid black;
  display: inline;
  float: left;
}

.section-works__item.last-child {
  float: right;
}

.section-works__item:hover {
  border: 5px solid #eb7d4b;
}

.section-works__link {
  display: block;
}

.section-works__image {
  display: block;
  width: 100%;
}

/* skills */

.section-skills {
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 120px;
  background: #e7f1f8;
}

.section-skills__title {
  margin-bottom: 60px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
}

.section-skills__list {
  width: 95%;
  margin: 0px auto;
  overflow: hidden;
}

.section-skills__item {
  margin-bottom: 40px;
  list-style: none;
}

.section-skills__header {
  font-family: Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
}

.section-skills__text {
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.section-skills__paragraph {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.section-skills__paragraph.html {
  width: 75%;
  background-color: #ff791f;
}

.section-skills__paragraph.js {
  width: 50%;
  background-color: #f2c300;
}

.section-skills__paragraph.ps {
  width: 50%;
  background-color: #2a3778;
}

/* footer */

.footer {
  width: 100%;
  background: #344b8e;
  overflow: hidden;
  padding-bottom: 20px;
}

/* contacts */

.footer__container {
  display: none;
  width: 95%;
  margin: 0px auto;
}

/* contacts for internet explorer < 9 */

.footer__container.ie {
  display: block;
}

.footer__paragraph {
  display: inline;
  float: left;
  margin-top: 18px;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 42px;
}

.footer__paragraph .footer__image {
  width: 30px;
  height: 30px;
}

.footer__list {
  float: right;
  overflow: hidden;
}

.footer__item {
  display: inline;
  float: left;
  margin-right: 25px;
  margin-top: 20px;
}

.footer__item:last-child {
  margin-right: 0px;
}

.footer__link {
  display: block;
}

.footer__link .footer__image {
  width: 30px;
  height: 30px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
