$elegant:    'Elegant Icons';
$condenced:  'Ubuntu Condensed', sans-serif;
$medium:     'Ubuntu Medium', sans-serif;
$arial:      Arial, sans-serif;
$font-size:  24px;
$width:      1920px;
$blue:       #248cec;
$black:      #2a2d32;
$yellow:     #f4b60d;
$grey:       #f7f7f7;
$lightblack: #35383c;
