/* fonts */

@font-face {
  font-family: 'HKGrotesk Light';
  src: url('../fonts/hkgrotesk-light-webfont.eot');
  src: url('../fonts/hkgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
       url('../fonts/hkgrotesk-light-webfont.woff') format('woff'),
       url('../fonts/hkgrotesk-light-webfont.ttf') format('truetype'),
       url('../fonts/hkgrotesk-light-webfont.svg#hk_grotesklight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan Bold';
  src: url('../fonts/leaguespartan-bold-webfont.eot');
  src: url('../fonts/leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
       url('../fonts/leaguespartan-bold-webfont.woff') format('woff'),
       url('../fonts/leaguespartan-bold-webfont.ttf') format('truetype'),
       url('../fonts/leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* style */

body {
  width: auto;
  background: #272f45;
}

/* logo */

header {
  width: 1160px;
  margin: 0px auto;
  margin-top: 64px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}

header h1 {
  font-size: 0px;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  border: 0px;
  padding: 0px;
  margin: 0px;
  clip: rect(1px, 1px, 1px, 1px);
}

.header__form {
  width: 176px;
  border-bottom: 2px solid #63757e;
  height: 28px;
  align-self: center;
}

.header__form:hover {
  border-bottom: 2px solid #82c9d8;
}

.header__form .form__submit {
  width: 30px;
  border: none;
  background: none;
  margin-top: -18px;
  padding: 0px;
  color: #63757e;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.header__form .form__submit:hover {
  color: #82c9d8;
}

.header__form .form__input {
  width: 120px;
  border: none;
  background: none;
  margin-top: -18px;
  padding: 0px;
  color: #63757e;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 24px;
}

.header__form .form__input:focus {
  outline: none;
  color: white;
}

/* content */

.main__list {
  width: 1160px;
  margin: 0px auto;
  margin-top: 52px;
  padding: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
}

.main__item {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.main__item:first-child {
  background-image: url(../img/gina.jpg);
  background-color: #b9c7c7;
  -webkit-flex-basis: 1160px;
  flex-basis: 1160px;
  height: 690px;
}

.main__item:first-child .item__logo {
  margin-left: 1010px;
  margin-top: 38px;
}

.main__item:first-child .item__header {
  margin-left: 60px;
  margin-top: -58px;
  text-transform: uppercase;
  color: white;
  font-family: 'LeagueSpartan Bold', Arial, sans-serif;
  font-size: 80px;
}

.main__item:first-child .item__paragraph {
  width: 365px;
  margin-left: 60px;
  margin-top: -36px;
  color: white;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.main__item:first-child .item__link {
  display: block;
  width: 155px;
  height: 44px;
  margin-left: 60px;
  margin-top: 135px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  background: none;
  border: 2px solid #eec9a2;
  color: white;
  text-decoration: none;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 24px;
}

.main__item:nth-child(2) {
  background-image: url(../img/beoplay.jpg);
  background-color: #60b8a3;
  text-align: right;
}

.main__item:nth-child(3) {
  background-image: url(../img/leica.jpg);
  background-color: #7778c6;
}

.main__item:nth-child(2),
.main__item:nth-child(3) {
  -webkit-flex-basis: 560px;
  flex-basis: 560px;
  height: 520px;
}

.main__item:nth-child(2) .item__header,
.main__item:nth-child(3) .item__header {
  width: 445px;
  margin-left: 86px;
  margin-top: 58px;
  text-transform: uppercase;
  color: white;
  font-family: 'LeagueSpartan Bold', Arial, sans-serif;
  font-size: 48px;
}

.main__item:nth-child(2) .item__paragraph,
.main__item:nth-child(3) .item__paragraph {
  width: 445px;
  margin-left: 82px;
  margin-top: -28px;
  color: white;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.main__item:nth-child(2) .item__link,
.main__item:nth-child(3) .item__link {
  display: block;
  width: 115px;
  height: 33px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 63px;
  padding-top: 14px;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 2px solid #eec9a2;
  color: white;
  font-family: 'LeagueSpartan Bold', Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.main__item:nth-child(2) .item__link {
  margin-left: 409px;
}

.main__item:nth-child(3) .item__header,
.main__item:nth-child(3) .item__paragraph {
  margin-left: 30px;
}

.main__item:nth-child(4) {
  background-image: url(../img/molekule.jpg);
  background-color: #e97864;
}

.main__item:nth-child(5) {
  background-image: url(../img/p9.jpg);
  background-color: #557581;
}

.main__item:last-child {
  background-image: url(../img/dr.jpg);
  background-color: #82c9d8;
}

.main__item:nth-child(4),
.main__item:nth-child(5),
.main__item:last-child {
  -webkit-flex-basis: 360px;
  flex-basis: 360px;
  height: 440px;
  margin-bottom: 0px;
  text-align: center;
}

.main__item:nth-child(4) .item__header,
.main__item:nth-child(5) .item__header,
.main__item:last-child .item__header {
  margin-top: -6px;
  text-transform: uppercase;
  color: white;
  font-family: 'LeagueSpartan Bold', Arial, sans-serif;
  font-size: 36px;
}

.main__item:nth-child(4) .item__paragraph,
.main__item:last-child .item__paragraph {
  margin-top: 64px;
  color: white;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.main__item:nth-child(5) .item__paragraph {
  margin-top: 258px;
  color: white;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.main__item:nth-child(4) .item__link,
.main__item:nth-child(5) .item__link,
.main__item:last-child .item__link {
  display: block;
  width: 115px;
  height: 30px;
  margin: 0px auto;
  margin-top: 0px;
  padding-top: 14px;
  cursor: pointer;
  text-align: center;
  background: none;
  border: 2px solid #eec9a2;
  color: white;
  font-family: 'LeagueSpartan Bold', Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.main__item:nth-child(5) .item__link {
  margin-top: -2px;
}

.main__item .item__link:hover {
  background: #eec9a2;
}

/* subscribe */

.section__list {
  width: 812px;
  margin: 0px auto;
  margin-top: 148px;
  list-style: none;
}

.section__item {
  color: #63757e;
}

.section__item:first-child {
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 0.7px;
}

.section__item:nth-child(2) {
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  margin-top: 18px;
  margin-left: -20px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.4px;
}

.section__item:nth-child(3) {
  width: 365px;
  margin: 54px auto;
}

.section__item:nth-child(3) .form__input {
  width: 354px;
  height: 56px;
  margin-left: -18px;
  padding: 0px;
  border: 2px solid #63757e;
  background: none;
  text-align: center;
  color: #63757e;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 24px;
}

.section__item:nth-child(3) .form__input:focus {
  outline: none;
  border: 2px solid #82c9d8;
  color: white;
}

.section__item:nth-child(3) .form__button {
  width: 359px;
  height: 58px;
  margin-left: -18px;
  margin-top: 22px;
  border: 2px solid #82c9d8;
  background: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'LeagueSpartan Bold', Arial, sans-serif;
  font-size: 18px;
}

.section__item:nth-child(3) .form__button:hover {
  background: #82c9d8;
}

/* navigation */

.footer__list {
  width: 544px;
  margin: 0px auto;
  margin-top: 98px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #63757e;
  font-size: 24px;
}

.footer__item {
  margin-left: -18px;
}

.footer__item:first-child {
  list-style: none;
  margin-right: 0px;
}

.footer__item .item__link {
  text-decoration: none;
  color: #63757e;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 24px;
  margin-right: 28px;
}

.footer__item .item__link:hover {
  color: #82c9d8;
}

.footer__paragraph {
  text-align: center;
  margin-left: -2px;
  margin-top: 22px;
  margin-bottom: 72px;
  color: #63757e;
  font-family: 'HKGrotesk Light', Arial, sans-serif;
  font-size: 18px;
}
